<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1041792768940-kdpcffebvb7jrn190hrptnpr9j3omlp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041792768940-kdpcffebvb7jrn190hrptnpr9j3omlp6</string>
	<key>API_KEY</key>
	<string>AIzaSyBG1oso2Qu3YcwfWGkH-c61NDHsAwc0x7g</string>
	<key>GCM_SENDER_ID</key>
	<string>1041792768940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JDRE.android</string>
	<key>PROJECT_ID</key>
	<string>jdre-production</string>
	<key>STORAGE_BUCKET</key>
	<string>jdre-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041792768940:ios:848f1e38f50b6ca8</string>
	<key>DATABASE_URL</key>
	<string>https://jdre-production.firebaseio.com</string>
</dict>
</plist>
